# Виртуальное окружение (самый тяжелый мусор)
.venv/
venv/
ENV/
env/

# Кэш Python
**/__pycache__/
*.py[cod]
*$py.class

# Локальные базы данных и хранилища (в Docker должны быть пустые папки или Volumes)
qdrant_storage/
pdf_storage/

# Секреты и настройки (передаются через Environment Variables в docker-compose)
.env

# Git
.git
.gitignore

# Тесты (в проде они обычно не нужны внутри образа)
test_api.py
tests/

# IDE
.vscode/
.idea/

# Сборка Docker (чтобы не копировать Docker-файлы внутрь самого себя)
Dockerfile
docker-compose.yaml