qdrant-client
langchain
langchain-qdrant
langchain-huggingface
langchain-community
langchain-text-splitters
fastembed
pypdf
python-dotenv
pydantic-settings
langchain_openai
fastapi
uvicorn
requests
prometheus-client
docling
langchain-docling